<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title> Video Share</title>
		<meta name="description" content="">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="css/main.css">
		
		<style>
			body { font-family: Helvetica; }
		</style>
	</head>

	<body>
		<h1>CSS sprite animation</h1>
		<div class="wrapper">
			<div class="y1960s sheet"></div>
			<div class="y1970s sheet"></div>
			<div class="y1980s sheet"></div>
		</div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="js/youShare.js"></script>
	</body>
</html>